@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
:root {
    --Purple: hsl(259, 100%, 65%);
    --LightRed: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --OffWhite: hsl(0, 0%, 94%);
    --LightGrey: hsl(0, 0%, 86%);
    --SmokeyGrey: hsl(0, 1%, 44%);
    --OffBlack: hsl(0, 0%, 8%);
}
:is(input) {
    --outline-size: 1px;
    --outline-style: solid;
    --outline-color: var(--Purple);
}
:is(input):focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
}
:is(input):focus:not(:focus-visible) {
    outline: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--OffWhite);
}
/* ----------------------------------------------------------------------------form */
main {
  width: 90%;
  display: flex;
  max-width: 45rem;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--White);
  border-radius: 2rem 2rem 10rem 2rem;
}
form {
  gap: 1rem;
  /* margin: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  color: var(--SmokeyGrey);
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.4rem;  
  font-weight: 900;
}
.form-group input[type=number] {
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: .8rem;  
  border: 1px solid var(--LightGrey);
}
.form-group input[type=number]:invalid { color: red; }
.form-group input[type=number]:focus-visible { cursor: pointer; }

/* 
.form-group p { 
  color: red; 
  text-transform: capitalize; 
}
.d-none {
  opacity: 0;  
}
.d-block {
  opacity: 1;
}
.form-group input[type=number].error { 
  border: 1px solid red;
}
*/
/* --------------------------------------------Button Element */
.btn-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 5rem 0 0;
  width: 80%;
  align-self: center;
}
.line-through {
  width: 100%;
  height: 2px ;
  background-color: var(--LightGrey);
}
#btn {
  padding: 2rem;
  cursor: pointer;
  position: absolute;  
  border-radius: 50%;
  background-color: var(--Purple);
  border: 0;
}
#btn img { max-width: 80%; }
@media (hover: hover) {
  #btn:hover { filter:grayscale(100%) brightness(70%);
}
#btn:active {
  border: 0;
}
}
@media (hover: none) {
  #btn:active { filter:grayscale(100%) brightness(70%); }
}
/* --------------------------------------------------Result */
.result {
  padding: 2rem 2rem;
  font-size: 4rem;
  font-weight: 800;
  font-style: italic;
  color: var(--OffBlack);
}
.result > p > span { color: var(--Purple); }

@media (max-width: 370px) {
  form {
    flex-direction: column;
  }
  .form-group {
    width: 100%;
  }
  .result {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  main {
    max-width: 65rem;
    width: 100%;
    padding: 4rem;
  }
  #btn {
    right: 0;
  }
  .btn-div {
    width: 100%;
    /* align-self: start; */
  }
  form {
    justify-content: start;
    gap: 2rem;
  }
  .form-group > label { font-size: 2rem; }
  .form-group > input[type=number] {
    font-size: 3rem;
    /* max-width: 12rem; */
  }
  .result {
    font-size: 6rem;
  }
}
